/* your styles, here */

.imgDimensions {
  width: 80%;
  height: 15rem;
}

.petListContainer, .petShowContainer, .petByTypeContainer, .appFormContainer, .petsByTypeContainer {
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
}

.appFormContainer {
  padding-bottom: 5%;
}

.appForm, .petList, .petShow, .petByType, .petTypeTile, .petsByType {
  margin: auto;
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.btn, .button {
  max-width: 10rem;
}

.button-group {
  display: flex;
  justify-content: center;
}

.petTile, .petListTile  {
  box-shadow: 4px 20px 30px 4px rgba(0, 0, 0, 0.1), 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  width: auto;
  margin: 1.3rem auto;
}

.petTile {
  width: auto;
}

.petListTile {
  width: 40%;
}

.pet-img {
  padding-top: 1rem;
}

.surrender-form{
  margin: 0 200px;
}

#message {
  color: red;
}
