/* your styles, here */

.imgDimensions {
  height: 20rem;
  max-width: 35rem;
}

.petListContainer, .petShowContainer, .petByTypeContainer, .appFormContainer {
  width: 100%;
}

.appFormContainer {
  padding-bottom: 5%;
}

.appForm, .petList, .petShow, .petByType, .petTypeTile {
  margin: auto;
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.btn, .button {
  max-width: 10rem;
}